{{> menu}}

<section class="section columns is-vcentered">
  <div class="column has-text-centered">
    <div class="title">
      {{title}}
    </div>
    {{> list-public-pois}}
  </div>
  <div class="column">
    {{> category-image }}
  </div>
</section>