<form action="/category/{{category._id}}/updatecategory" method="POST">
  <div class="field">
    <label class="label">Category Title</label> <input class="input" type="text" placeholder={{category.title}} name="title">
  </div>
  <button class="button is-link">Edit Category</button>
</form>